<!doctype html>
<%- include("../partials/header.ejs") %>
    <main>
        <div class="slider-area ">
            <!-- Mobile Menu -->
            <div class="single-slider slider-height2 d-flex align-items-center"
                data-background="assets/img/hero/category.jpg"
                style="background-image: url(&quot;assets/img/hero/category.jpg&quot;);">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>Detalles del producto</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="profile admin-product pt-40" style="background-color: #fbfbfb; padding-bottom: 40px;">
            <div class="container">
                <div class="edit-Image">
                    <img class="center-edit" src="/assets/img/products/<%=item.productImage%>" alt="">
                </div>
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0"><i class="fas fa-tag"></i> Editar información</h5>
                    </div>
                    <div class="card-body py-4">
                        <form action="/product/update/<%= item.productID %>/?_method=PUT" method="POST" enctype="multipart/form-data">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="name">Nombre</label>
                                    <input class="form-control" required="required" name="name" type="text" id="name" value= "<%= item.name %>"  >
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="category">Categoria</label>
                                    <select id="category" name="category" required>
                                   <option value="">Selecciona una categoría</option>
                                    <% 
                                        let categories = ['tazas', 'termos', 'gorras', 'playeras', 'llaveros', 'rompecabezas', 'especiales'];
                                    %>
                                    <% for (const oneCategory of categories) { %>
                                        <option 
                                            value="<%=oneCategory%>"
                                            <%= (oneCategory === item.category) ? 'selected' : null %> 
                                        > <%= oneCategory %> </option>
                                    <% } %>
                                </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="price">Precio</label>
                                    <input class="form-control" required="required" name="price" type="text" id="price"
                                        required value="<%= item.price %>">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="quantity">Cantidad</label>
                                    <input class="form-control" name="quantity" type="text" id="quantity" required value="<%= item.quantity %>">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="product-image">Imagen</label>
                                    <input class="form-control" value="/assets/img/products/<%=item.productImage%>" name="image" type="file" id="product-image"
                                        style="padding: 3px;">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="description">Descripción</label>
                                    <input class="form-control" name="description" type="text" id="description"
                                        required value="<%= item.description %>">
                                </div>
                            </div>
                            <input class=" form-comtrol btn btn-primary profile-submit" type="submit" value="Guardar cambios">
                            <a class=" form-comtrol btn btn-primary profile-submit" href="/product/adminProductControl" style="float: right;">Regresar</a>
                        </form>
                    </div>
                </div>
            </div>
        </section>

    </main>
    <footer>

        <!-- Footer Start-->
        <div class="footer-area footer-padding">
            <div style="text-align: center; font: size 20px;">

                <!-- social -->
                <div class="footer-social">
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-behance"></i></a>
                    <a href="#"><i class="fas fa-globe"></i></a>
                </div>

            </div>

            <!-- Footer bottom -->

            <div class="col-xl-7 col-lg-7 col-md-7">
                <div class="footer-copy-right">
                    <p>
                        Copyright &copy;
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        Este sitio fué creado con
                        <i class="ti-heart" aria-hidden="true"></i>
                        por
                        <a href="" target="_blank">
                            Grupo 10-DH </a>
                    </p>
                </div>
            </div>



        </div>
        <!-- Footer End-->
    </footer>

    <!-- JS here -->

    <!-- All JS Custom Plugins Link Here here -->
    <script src="/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- DataTables -->
    <script src="/assets/js/jquery.dataTables.js"></script>
    <script src="/assets/js/dataTables.bootstrap4.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="/assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/slick.min.js"></script>

    <!-- One Page, Animated-HeadLin -->
    <script src="/assets/js/wow.min.js"></script>
    <script src="/assets/js/animated.headline.js"></script>
    <script src="/assets/js/jquery.magnific-popup.js"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="/assets/js/jquery.scrollUp.min.js"></script>
    <script src="/assets/js/jquery.nice-select.min.js"></script>
    <script src="/assets/js/jquery.sticky.js"></script>
    <script src="/assets/js/jquery.zoom.js"></script>

    <!-- nice scroll-->
    <script src="/assets/js/jquery.nicescroll.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="/assets/js/plugins.js"></script>
    <script src="/assets/js/main.js"></script>
    
</body>

</html>