<!doctype html>
<%- include("./partials/header.ejs") %>

<main>
    <%if (err == 0) { %>
    <div class="alert alert-success" role="alert">
        <%= typeof msg != 'undefined' ? msg : '' %>
    </div>
    <% }if (err == 1) { %>

    <div class="alert alert-danger" role="alert">
        <%= typeof msg != 'undefined' ? msg : '' %>
    </div>
    <% } %>
    <section class="profile admin-product pt-40" style="background-color: #fbfbfb;">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0"><i class="fas fa-tag"></i> Información de Productos</h5>
                </div>
                <div class="card-body py-4">
                    <form action="/products/add.html" method="POST" enctype="multipart/form-data">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="name">Nombre</label>
                                <input class="form-control" required="required" name="name" type="text" id="name">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="category">Categoria</label>
                                <select required="required" name="category" id="category" name="category" required>
                                    <option value="">.....</option>
                                    <option value="anillos">Anillos</option>
                                    <option value="pulseras">Pulseras</option>
                                    <option value="collares">Collares</option>
                                    <option value="collares">Aretes</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="price">Precio</label>
                                <input class="form-control" required="required" name="price" type="text" id="price" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="quantity">Cantidad</label>
                                <input class="form-control" name="quantity" type="text" id="quantity" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="product-image">Imagen</label>
                                <input class="form-control" name="image" type="file" id="product-image"
                                    style="padding: 3px;" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="description">Descripción</label>
                                <input class="form-control" name="description" type="text" id="description" required>
                            </div>
                        </div>
                        <input class=" form-comtrol btn btn-primary profile-submit" type="submit" value="Agregar">
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="profile admin-product pt-40 pb-40" style="background-color: #fbfbfb;">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0"><i class="fas fa-tags"></i> Lista de Productos</h5>
                </div>
                <div class="card-body py-4">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Categoria</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th>Controles</th>
                            </tr>
                        </thead>
                        <tbody>


                            <% items.forEach(function(item){ %>
                            <tr>
                                <td><%=item.productID %></td>
                                <td><%=item.name %></td>
                                <td><%=item.category %></td>
                                <td><%=item.price %></td>
                                <td><%=item.quantity %></td>
                                <td>
                                    <form action="/items/delete.html" method="POST">
                                        <input type="hidden" name="id" />
                                        <input type="submit" id="<%= item.productID %>" value="delete" onclick="deleteProduct('<%= item.productID %>');"/>
                                    </form>
                                </td>
                            </tr>

                            <%})%>


                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Categoria</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th>Controles</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </section>

</main>
<%- include("./partials/footer.ejs") %>
<script>
    $(function () {
        $("#example1").DataTable();
    });
    async function deleteProduct(productID) {

        var res = await fetch(`/products/delete.html/${productID}`, {
            method: "delete"

        })
        location.href= '/admin/showproduct.html'
    }
</script>
</body>

</html>